<div class="header">
  <div class="container">
    <div class="logo">
      <a href="{% url 'products:index' %}"><span>Re</span>sale</a>
    </div>
    <div class="header-right">
      {% if user.is_authenticated %}
        <a class="account" style="margin-right:20px;" href="{% url 'accounts:profile' %}">My Profile</a>
        <a class="account" style="margin-right:20px;" href="{% url 'products:add_advertise' %}">Post Free Ad</a>
        <a class="account" href="javascript:{document.getElementById('logout').submit()}">
          <i class="fas fa-sign-out-alt"></i>Logout
        </a>
        <form id="logout" action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <input type="hidden">
        </form>
      {% else %}
        <a class="account" href="{% url 'accounts:login' %}">My Account</a>
      {% endif %}
  </div>
  </div>
</div>
