{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
		<!-- content-starts-here -->
		<div class="content">
			<div class="categories">
				<div class="container">
				{% for category in category_list %}
					<div class="col-md-2 focus-grid">
						<a href="{% url 'products:product_list_category' category.slug %}">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><img src="{{ category.image.url}}"></div>
									<h4 class="clrchg">{{ category.name}}</h4>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="trending-ads">
				<div class="container">
				<!-- slider -->
				<div class="trend-ads">
					<h2>Trending Ads</h2>
							<ul id="flexiselDemo3">
								<li>
									{% for trend_product in trending_products %}
										<div class="col-md-3 biseller-column">
											<a href="{% url 'products:product_detail' trend_product.slug%}">
												<img src="{{ trend_product.photo_main.url}}" height="250"/>
												<span class="price">&#36; {{trend_product.price|intcomma}}</span>
											</a>
											<div class="ad-info">
												<h5>{{trend_product.name}}</h5>
												<span>{{trend_product.created|naturaltime}}</span>
											</div>
										</div>
										{% endfor %}
								</li>
						</ul>
					<script type="text/javascript">
						 $(window).load(function() {
							$("#flexiselDemo3").flexisel({
								visibleItems:1,
								animationSpeed: 1000,
								autoPlay: true,
								autoPlaySpeed: 5000,
								pauseOnHover: true,
								enableResponsiveBreakpoints: true,
								responsiveBreakpoints: {
									portrait: {
										changePoint:480,
										visibleItems:1
									},
									landscape: {
										changePoint:640,
										visibleItems:1
									},
									tablet: {
										changePoint:768,
										visibleItems:1
									}
								}
							});

						});
					   </script>
					   <script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
					</div>
			</div>
			<!-- //slider -->
			</div>
			<div class="mobile-app">
				<div class="container">
					<div class="col-md-5 app-left">
						<a href="mobileapp.html"><img src="{% static 'images/app.png' %}" alt=""></a>
					</div>
					<div class="col-md-7 app-right">
						<h3>Resale App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
						<div class="app-buttons">
							<div class="app-button">
								<a href="#"><img src="{% static 'images/1.png' %}" alt=""></a>
							</div>
							<div class="app-button">
								<a href="#"><img src="{% static 'images/2.png' %}" alt=""></a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

{% endblock %}
